<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Paul Mihai Gansca">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Not Just A To Do List</title>
    <%# Bootstrap core CSS %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <%# Icons %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/createList.css">

</head>

<div class="container">
    <h1 class="text-center">Clipboard</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Content</th>
                <th scope="col">Description</th>
            </tr>
        </thead>    
    <% newListItems.forEach(elem => { let i=1; %>
        <tbody>
            <tr>
                <th scope="row"><%= i %></th>
                <td><%= elem.date %></td>
                <td><%= elem.clipboard %></td>
                <td><%= elem.description %></td>
                <td><i class="fas fa-trash-alt"></i></td>
            </tr>
        </tbody>
    <% i+=1;}) %>
        <tbody>
            <tr>
                <form class="" action="/" method="post">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Desc</td>
                    <td>@mdo</td>
                    <td><i class="fas fa-trash-alt"></i></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>