<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Paul Mihai Gansca">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Not Just A To Do List</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
